<!-- Start Headline Area -->
<div class="headline-area bg-color1">
    <div class="headline-wrapper ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="headline-box wow fadeInUp" data-wow-duration="1s" style="visibility:visible; animation-duration:1s; animation-name:fadeInUp;">
                        <div class="headline-logo">
                            <a href="{{site.baseurl}}/docs/up_unidad1"><img src="{{site.baseurl}}/assets/images/education_3.png" alt="Unidad 1"></a>
                        </div>
                        <div class="headline-content">
                            <h4 class="heading-4"><a href="{{site.baseurl}}/docs/up_unidad1">Unidad 1 </a></h4>
                            <p> Características de un entorno virtual de aprendizaje </p>
                            <a href="{{site.baseurl}}/docs/up_unidad1" class="btn btn-style3">Ingresar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="headline-box m-0 wow fadeInUp" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInUp;">
                        <div class="headline-logo">
                            <a href="{{site.baseurl}}/docs/up_unidad2"><img src="{{site.baseurl}}/assets/images/education_2.png" alt="Unidad 2"></a>
                        </div>
                        <div class="headline-content">
                            <h4 class="heading-4"><a href="{{site.baseurl}}/docs/left-sidebar-example">Unidad 2 </a></h4>
                            <p> Perfil del estudiante estratégico  </p>
                            <a href="{{site.baseurl}}/docs/up_unidad2" class="btn btn-style3">Ingresar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="headline-box wow fadeInUp" data-wow-duration="3s" style="visibility:visible; animation-duration:3s; animation-name:fadeInUp;">
                        <div class="headline-logo">
                            <a href="{{site.baseurl}}/docs/up_unidad3"><img src="{{site.baseurl}}/assets/images/education_4.png" alt="Unidad 3"></a>
                        </div>
                        <div class="headline-content">
                            <h4 class="heading-4"><a href="{{site.baseurl}}/docs/up_unidad3">Unidad 3 </a></h4>
                            <p> Estrategias para la comprensión lectora  </p>
                            <a href="{{site.baseurl}}/docs/up_unidad3" class="btn btn-style3">Ingresar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="headline-box m-0 wow fadeInUp" data-wow-duration="4s" style="visibility: visible; animation-duration: 4s; animation-name: fadeInUp;">
                        <div class="headline-logo">
                            <a href="{{site.baseurl}}/docs/up_unidad4"><img src="{{site.baseurl}}/assets/images/education_5.png" alt="Unidad 4"></a>
                        </div>
                        <div class="headline-content">
                            <h4 class="heading-4"><a href="{{site.baseurl}}/docs/left-sidebar-example">Unidad 4 </a></h4>
                            <p> Organización del tiempo para el estudio a distancia   </p>
                            <a href="{{site.baseurl}}/docs/up_unidad4" class="btn btn-style3">Ingresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Headline Area -->
