<div class="sidebar-menu accordion" id="sidebar-menu">
	<div class="menu-item">
		<div class="menu-heading">
			<button class="btn" data-toggle="collapse" data-target="#Unidad1" aria-expanded="true">
				Unidad 1
			</button>
		</div>
		<div id="Unidad1" class="collapse show" data-parent="#sidebar-menu">	
			<ul class="sub-menu list-inline">
				<li><a href="{{site.baseurl}}/docs/up_unidad11">Tema 1. Características de un entorno virtual de aprendizaje</a></li>
				<li><a href="{{site.baseurl}}/docs/up_unidad12">Tema 2. Perfil del estudiante estratégico </a></li>
				<li><a href="{{site.baseurl}}/docs/up_unidad13">Tema 3. Estrategias para la comprensión lectora </a></li>
				<li><a href="{{site.baseurl}}/docs/up_unidad14">Tema 4. Organización del tiempo para el estudio a distancia</a></li>
			</ul>
		</div>
		<div class="menu-heading">
			<button class="btn" data-toggle="collapse" data-target="#Unidad2" aria-expanded="true">
				Unidad 2
			</button>
		</div>
		<div id="Unidad2" class="collapse show" data-parent="#sidebar-menu">	
			<ul class="sub-menu list-inline">
				<li><a href="{{site.baseurl}}/docs/up_unidad21">2.1 Subtema</a></li>
				<li><a href="{{site.baseurl}}/docs/up_unidad22">2.2 Subtema</a></li>
				<li><a href="{{site.baseurl}}/docs/up_unidad23">2.3 Subtema</a></li>
				<li><a href="{{site.baseurl}}/docs/up_unidad24">2.4 Subtema</a></li>
			</ul>
		</div>
		<div class="menu-heading">
			<button class="btn" data-toggle="collapse" data-target="#Unidad3" aria-expanded="true">
				Unidad 3
			</button>
		</div>
		<div id="Unidad3" class="collapse show" data-parent="#sidebar-menu">	
			<ul class="sub-menu list-inline">
				<li><a href="{{site.baseurl}}/docs/up_unidad31">3.1 Subtema</a></li>
				<li><a href="{{site.baseurl}}/docs/up_unidad32">3.2 Subtema</a></li>
				<li><a href="{{site.baseurl}}/docs/up_unidad33">3.3 Subtema</a></li>
				<li><a href="{{site.baseurl}}/docs/up_unidad34">3.4 Subtema</a></li>
			</ul>
		</div>
	</div>
</div>
