<div class="sidebar-menu accordion" id="sidebar-menu">
	<div class="menu-item">
		<div class="menu-heading">
			<button class="btn" data-toggle="collapse" data-target="#Unidad1" aria-expanded="true">
				Unidad 1
			</button>
		</div>
		<div id="Unidad1" class="collapse show" data-parent="#sidebar-menu">	
			<ul class="sub-menu list-inline">
				<li><a href="{{site.baseurl}}/docs/up_unidad11">1.1 Subtema</a></li>
				<li><a href="{{site.baseurl}}/docs/up_unidad12">1.2 Subtema</a></li>
				<li><a href="{{site.baseurl}}/docs/up_unidad13">1.3 Subtema</a></li>
				<li><a href="{{site.baseurl}}/docs/up_unidad14">1.4 Subtema</a></li>
			</ul>
		</div>
		<div class="menu-heading">
			<button class="btn" data-toggle="collapse" data-target="#Unidad2" aria-expanded="true">
				Unidad 2
			</button>
		</div>
		<div id="Unidad2" class="collapse show" data-parent="#sidebar-menu">	
			<ul class="sub-menu list-inline">
				<li><a href="{{site.baseurl}}/docs/up_unidad21">2.1 Subtema</a></li>
				<li><a href="{{site.baseurl}}/docs/up_unidad22">2.2 Subtema</a></li>
				<li><a href="{{site.baseurl}}/docs/up_unidad23">2.3 Subtema</a></li>
				<li><a href="{{site.baseurl}}/docs/up_unidad24">2.4 Subtema</a></li>
			</ul>
		</div>
		<div class="menu-heading">
			<button class="btn" data-toggle="collapse" data-target="#Unidad3" aria-expanded="true">
				Unidad 3
			</button>
		</div>
		<div id="Unidad3" class="collapse show" data-parent="#sidebar-menu">	
			<ul class="sub-menu list-inline">
				<li><a href="{{site.baseurl}}/docs/up_unidad31">3.1 Subtema</a></li>
				<li><a href="{{site.baseurl}}/docs/up_unidad32">3.2 Subtema</a></li>
				<li><a href="{{site.baseurl}}/docs/up_unidad33">3.3 Subtema</a></li>
				<li><a href="{{site.baseurl}}/docs/up_unidad34">3.4 Subtema</a></li>
			</ul>
		</div>
	</div>
</div>

<ul class="multilevel-accordion-menu vertical menu" data-accordion-menu>
  <li>
    <a href="#">Item 1</a>
    <ul class="menu vertical sublevel-1">
      <li>
        <a href="#">Sub-item 1</a>
        <ul class="menu vertical sublevel-2">
          <li><a class="subitem" href="#">Thing 1</a></li>
          <li><a class="subitem" href="#">Thing 2</a></li>
          <li><a class="subitem" href="#">Thing 3</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Sub-item 2</a>
        <ul class="menu vertical sublevel-2">
          <li>
            <a href="#">Super-sub-item 1</a>
            <ul class="menu vertical sublevel-3">
              <li><a class="subitem" href="#">Thing 1</a></li>
              <li><a class="subitem" href="#">Thing 2</a></li>
            </ul>
          </li>
          <li><a class="subitem" href="#">Thing 2</a></li>
        </ul>
      </li>
      <li><a class="subitem" href="#">Thing 1</a></li>
      <li><a class="subitem" href="#">Thing 2</a></li>
    </ul>
  </li>
  <li>
    <a href="#">Item 2</a>
    <ul class="menu vertical sublevel-1">
      <li><a class="subitem" href="#">Thing 1</a></li>
      <li><a class="subitem" href="#">Thing 2</a></li>
    </ul>
  </li>
  <li>
    <a href="#">Item 3</a>
    <ul class="menu vertical sublevel-1">
      <li><a class="subitem" href="#">Thing 1</a></li>
      <li><a class="subitem" href="#">Thing 2</a></li>
    </ul>
  </li>
  <li>
    <a href="#">Item 4</a>
    <ul class="menu vertical sublevel-1">
      <li>
        <a href="#">Sub-item 3</a>
        <ul class="menu vertical sublevel-2">
          <li><a class="subitem" href="#">Thing 1</a></li>
          <li><a class="subitem" href="#">Thing 2</a></li>
        </ul>
      </li>
      <li><a class="subitem" href="#">Thing 1</a></li>
      <li><a class="subitem" href="#">Thing 2</a></li>
    </ul>
  </li>
</ul>


						
						
	 
