---

---
<!-- Start Footer Area -->
<footer class="footer-area bg-color3">
    <div class="footer-wrapper section-spacing bminus-30">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="footer-widget wow fadeIn" data-wow-duration="1s">
                        <h5 class="footer-title heading-5">UPADED</h5>
                        <p>Universidad Pública, Abierta y a Distancia del Estado de Durango</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="footer-widget wow fadeIn" data-wow-duration="2s">
                        <h5 class="footer-title heading-5">Páginas</h5>
                        <ul class="footer-category list-inline">
                            <li><a href="/pages/testimonials">Presentación</a></li>
                            <li><a href="/pages/privacy-policy">Unidad 1</a></li>
                            <li><a href="/pages/support">Unidad 2 </a></li>
                            <li><a href="/tag/education">Unidad 3</a></li>
                          <li><a href="/tag/education">Unidad 4</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="footer-wrapper">
        <div class="container">
            <div class="footer-copyright text-center">
                <p> &copy; Copyright {{ site.time | date: '%Y' }} {{site.title}} - Designed by <a href="">UPADED</a></p>
            </div>
        </div>
    </div>
    <a href="#" class="home-top"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
</footer>
<!-- End Footer Area -->