<!-- Start Headline Area -->
<div class="headline-area bg-color1">
    <div class="headline-wrapper ">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
</div>
<!-- End Headline Area -->

<!-- Start Looking For  Area -->
<section class="looking-for-area bg-color3">
    <div class="looking-for-wrapper section-spacing bminus-30">
        <div class="container">
            <!-- <div class="section-title text-center"> -->
            <!-- <h2 class="heading-2">Didn't find what you were looking for?</h2> -->
            <!-- <p>Lacus vestibulum sed arcu non odio euismod lacinia at quis risus sed vulputate odio ut enim blandit</p> -->
            <!-- </div> -->
            <div class="row">
                {% if page.subject_name %}
                {% for link in site.data[page.subject_name].navigation %}
                <div class="col-md-6">
                    <article class="looking-for-service wow fadeInRight" data-wow-duration="1s">
                        <header class="looking-for-logo">
                            <a href="{{site.baseurl}}/docs/up_unidad2"><img src="{{site.baseurl}}/assets/images/education_2.png" alt="Unidad 2"></a>
                        </header>
                        <footer class="looking-for-content">
                            <h4 class="heading-4"><a href="{{site.baseurl}}/docs/up_unidad2">Unidad 2</a></h4>
                            <p> Perfil del estudiante estratégico  </p>
                            <a href="{{site.baseurl}}/docs/up_unidad2" class="btn-style3 btn mt-3">Ingresar</a>
                        </footer>
                    </article>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- End Looking For Area -->
