<!-- Loading -->
<div class="loading-main">
  <div class="pre-loader">
    <div class="loading">
      <div class="bounceball"></div>
      <div class="text">NOW LOADING</div>
    </div>
  </div>
</div>
<!-- Start Header Area -->
<header class="header-area">
  <div class="header-navigation">
    <div class="container">
      <div class="navigation-box">
        <div class="navigation-left">
          <a class="header-logo" href="#"><img src="assets/images/logo_upaded_4.png" alt="header logo"></a>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End Header Area -->
