<!-- Start Looking For  Area -->
<section class="looking-for-area bg-color3">
    <div class="looking-for-wrapper section-spacing bminus-30">
        <div class="container">
            <!-- <div class="section-title text-center"> -->
            <!-- <h2 class="heading-2">Didn't find what you were looking for?</h2> -->
            <!-- <p>Lacus vestibulum sed arcu non odio euismod lacinia at quis risus sed vulputate odio ut enim blandit</p> -->
            <!-- </div> -->
            <div class="row">
                <div class="col-md-6">
                    <article class="looking-for-service wow fadeInLeft" data-wow-duration="1s">
                        <header class="looking-for-logo">
                            <a href="https://jeros9.github.io/upaded/docs/up_unidad1/"><img src="{{site.baseurl}}/assets/images/service-icon2.png" alt="Unidad 1"></a>
                        </header>
                        <footer class="looking-for-content">
                            <h4 class="heading-4"><a href="#">Unidad 1</a></h4>
                            <p> El estudiante en un entorno virtual de aprendizaje </p>
                            <a href="https://jeros9.github.io/upaded/docs/up_unidad1/" class="btn-style3 btn mt-3">Ingresar</a>
                        </footer>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="looking-for-service wow fadeInRight" data-wow-duration="1s">
                        <header class="looking-for-logo">
                            <a href="https://jeros9.github.io/upaded/docs/up_unidad2/"><img src="{{site.baseurl}}/assets/images/service-icon3.png" alt="Unidad 2"></a>
                        </header>
                        <footer class="looking-for-content">
                            <h4 class="heading-4"><a href="https://support.themeix.com/portal/community/newtopic">Unidad 2</a></h4>
                            <p> Construcción del conocimiento en un entorno colaborativo virtual </p>
                            <a href="https://jeros9.github.io/upaded/docs/up_unidad2/" class="btn-style3 btn mt-3">Ingresar</a>
                        </footer>
                    </article>
                </div>

                <div class="col-md-6">
                    <article class="looking-for-service wow fadeInRight" data-wow-duration="1s">
                        <header class="looking-for-logo">
                            <a href="https://jeros9.github.io/upaded/docs/up_unidad3/"><img src="{{site.baseurl}}/assets/images/service-icon2.png" alt="Unidad 3"></a>
                        </header>
                        <footer class="looking-for-content">
                            <h4 class="heading-4"><a href="https://support.themeix.com/portal/community/newtopic">Unidad 3</a></h4>
                            <p> Herramientas digitales para el aprendizaje virtual  </p>
                            <a href="https://jeros9.github.io/upaded/docs/up_unidad3/" class="btn-style3 btn mt-3">Ingresar</a>
                        </footer>
                    </article>
                </div>              
              
         
              
            </div>
        </div>
    </div>
</section>
<!-- End Looking For Area -->
