---
layout: default

---
{% include header.html %}
{% include sliders/cecv.html %}
<!-- Start Layout  Area -->
<section class="layout-area bg-color1">
  <div class="layout-wrapper section-spacing bminus-30">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="doc-content">
            {{content}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Layout Area -->
{% include header_bottom_area.html %}
{% include footer.html %}